@{
    ViewData["Title"] = "About";
}

<header>
    <nav>
        <ul>
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li><a href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
            <li><a href="@Url.Action("Index", "Expense")">Expenses</a></li>
            <li><a href="@Url.Action("Index", "About")">About</a></li>
        </ul>
        <div class="user-profile">
            @if (TempData != null)
            {

                <a href="@Url.Action("Logout", "Home")">Logout</a>
            }
            else
            {
                <a href="@Url.Action("Login", "Home")">Login</a>
            }
        </div>
    </nav>
</header>


<div class="about">
    <h2>About Us</h2>
    <p>
        Our mission is to help individuals take control of their finances and achieve their financial goals.
        We believe that by providing a user-friendly and intuitive personal finance tracking platform, we can empower our users to make informed decisions and improve their financial well-being.
    </p>
</div>